@model IEnumerable<NET_FRAMEWORKS_EXAMEN_OPDRACHT.Models.Appointment>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}


<h1>APPOINTMENTS</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="statusFilter">Status:</label>
        <select class="form-control" id="statusFilter" name="statusFilter">
            <option value="">All</option>
            <option value="Confirmed">Confirmed</option>
            <option value="Pending">Pending</option>
            <option value="Cancelled">Cancelled</option>

        </select>
    </div>

    <div class="form-group col-md-4">
        <label for="dateFilter">Date:</label>
        <input type="date" class="form-control" id="dateFilter" name="dateFilter">
    </div>

    <div class="form-group">
        <label for="search">Search:</label>
        <input type="text" class="form-control" id="search" name="search" placeholder="Search by License Plate or Required Service.">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Search</button>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Appointment Date
            </th>
            <th>
                Required Service
            </th>
            <th>
                Status
            </th>
            <th>
                License Plate
            </th>
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="hover-row" onclick="location.href='@Url.Action("Details", new { id = item.AppointmentId })';">
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiredService)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.LicensePlate)
                </td>
                <td class="action-icons">
                    <a asp-action="Edit" asp-route-id="@item.AppointmentId">
                        <img src="~/Images/Edit.png" alt="Edit" width="30" />
                    </a>
                </td>
                <td class="action-icons">
                    <a asp-action="Details" asp-route-id="@item.AppointmentId">
                        <img src="~/Images/Details.png" alt="Details" width="30" />
                    </a>
                </td>
                <td class="action-icons">
                    <a asp-action="Delete" asp-route-id="@item.AppointmentId">
                        <img src="~/Images/Delete.png" alt="Delete" width="30" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .table, th, td {
        border: 1px solid #ddd;
        text-align: center;
    }

    th, td {
        padding: 15px;
    }

    th {
        background-color: #f2f2f2;
    }

    .hover-row:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }
</style>


