@model IEnumerable<NET_FRAMEWORKS_EXAMEN_OPDRACHT.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>CUSTOMERS</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="search">Search:</label>
        <input type="text" class="form-control" id="search" name="search" placeholder="Search by Name, Email, Address, or PhoneNumber.">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.Name) *@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" style="color:black">
                    Name
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
           
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="hover-row" onclick="location.href='@Url.Action("Details", new { id = item.CustomerId })';">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td class="action-icons">
                    <a asp-action="Edit" asp-route-id="@item.CustomerId">
                        <img src="~/Images/Edit.png" alt="Edit" width="30" />
                    </a>
                </td>
                <td class="action-icons">
                    <a asp-action="Details" asp-route-id="@item.CustomerId">
                        <img src="~/Images/Details.png" alt="Details" width="30" />
                    </a>
                </td>
                <td class="action-icons">
                    <a asp-action="Delete" asp-route-id="@item.CustomerId">
                        <img src="~/Images/Delete.png" alt="Delete" width="30" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .table, th, td {
        border: 1px solid #ddd;
        text-align: center;
    }

    th, td {
        padding: 15px;
    }

    th {
        background-color: #f2f2f2;
    }

    .hover-row:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }
</style>
